// Noto Sans Font
// Google
// Apache License, version 2.0
// http://www.apache.org/licenses/LICENSE-2.0.html

$noto-sans-font-path: $font-path !default;

@font-face {
  font-family: "Product Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Product Sans"), local("Product-Sans-Regular"), url("#{$noto-sans-font-path}/ProductRegular.ttf") format("truetype");
}

@font-face {
  font-family: "Product Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Product Sans"), local("Product-Sans-Regular"), url("#{$noto-sans-font-path}/ProductRegular.ttf") format("truetype");
}

@font-face {
  font-family: "Product Sans";
  font-style: normal;
  font-weight: 500;
  src: local("Product Sans Bold"), local("Product-Sans-Bold"), url("#{$noto-sans-font-path}/ProductBold.ttf") format("truetype");
}

@font-face {
  font-family: "Product Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Product Sans Bold"), local("Product-Sans-Bold"), url("#{$noto-sans-font-path}/ProductBold.ttf") format("truetype");
}
